params {
    outdir = 'results'
}

outputDir = "${params.outdir}"

plugins {
    id 'nf-iridanext@0.4.0'
}

iridanext {
    enabled = true
    overwrite = true

    output {
        path = "${params.outdir}/iridanext.output.json"
        files {
            global = ["**/metadata/metadata.csv"]
        }
    }

    metadata {
        samples {
            csv {
                path = "**/metadata/metadata.csv"
                idcol = "id"
            }
        }
    }
}
